body{
  background-color: black;
  font-family: 'Marvel', sans-serif;
  color: white;
}

header{
  background-color: red;
  border: 15px solid red;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  font-weight: 900;
}
